<h2>Template: Dinamicos</h2>
<hr>
<form action="" autocomplete="off" #miFormulario="ngForm">

    <div class=" mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                    class="form-control"
                    placeholder="Nombre de la persona"
                    required
                    name="nombre"
                    [ngModel]="persona.nombre">
                    <span class="form-text text-danger" 
                            *ngIf="miFormulario.controls['nombre']?.errors
                            && miFormulario.controls['nombre']?.touched">Este campo es obligatorio</span>
        </div>
    </div>

    <div class=" mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text"
                    class="form-control"
                    placeholder="Agregar favorito"
                    [(ngModel)]="nuevoJuego"
                    name="nuevoJuego"
                    (keyup.enter)="agregar()">
                    <button class="btn btn-outline-primary"
                            (click)="agregar()">Agregar</button>
            </div>        
        </div>
    </div>

    <div class=" mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let itemJuego of persona.favoritos; let i = index" >
                <input 
                    [(ngModel)] ="itemJuego.nombre"
                    name="favorito_{{i}}"
                    class="form-control"
                    required> 
                    <button class="btn btn-outline-danger"
                            (click)="eliminar(i)">Eliminar</button>
        </div>
            </div>
            
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    [disabled]="miFormulario.invalid"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>
