<h2>Template</h2>
<hr>
<ul class="list-group">
    <!-- <li class="list-group-item"
        routerLink="template/basicos">
        Básicos
    </li>
    <li class="list-group-item"
        routerLink="template/dinamicos">
        Dinamicos
    </li> -->
    <li 
        *ngFor="let itemMenu of templateMenu"
        class="list-group-item"
        [routerLink]="[itemMenu.ruta]"
        routerLinkActive="active"
        >
        {{itemMenu.texto}}
    </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr>
<ul class="list-group">
    <li 
        *ngFor="let itemMenu of reactiveMenu"
        class="list-group-item"
        [routerLink]="[itemMenu.ruta]"
        routerLinkActive="active"
        >
        {{itemMenu.texto}}
    </li>
</ul>
<h2 class="mt-3">Validaciones</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let itemMenu of authMenu"
        class="list-group-item"
        [routerLink]="[itemMenu.ruta]"
        routerLinkActive="active">
        {{itemMenu.texto}}
    </li>
</ul>