<h2>Reactivos: Básicos</h2>
<hr>
<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miFormulario"
                (ngSubmit)="guardar()">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre del producto"
                            formControlName="nombre">
                            <span *ngIf="campoEsValido('nombre')"
                            class="form-text text-danger" >Debe de ser de 3 letras</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            placeholder="Precio del producto"
                            formControlName="precio">
                            <span *ngIf="campoEsValido('precio')"
                                class="form-text text-danger" >Debe de ser mayor a 0</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            placeholder="Existencias del producto"
                            formControlName="existencia">
                            <span *ngIf="campoEsValido('existencia')"
                                class="form-text text-danger" >Debe de ser 0 o mayor</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine: true = no se cambio valor</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched: si el usuario toco el formulario</span>
        <pre>{{miFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

        <span>Precio</span>
        <pre>{{miFormulario.controls['precio'].errors| json}}</pre>

        <span>CustomDirective</span>
        <pre>{{miFormulario.controls['existencias']?.errors | json}}</pre>
    </div>
</div>