<h2>Template: Básicos</h2>
<hr>
<div class="row">
    <div class="col">

        <!-- <form (ngSubmit)="guardar( miFormulario )"  -->
        <form (ngSubmit)="guardar( )" 
               #miFormulario="ngForm"
               autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre del producto"
                            [ngModel]="initForm.producto"
                            name="producto"
                            required
                            minlength="3">
                           <!--  <span *ngIf="miFormulario.controls['producto']?.invalid &&
                                        miFormulario.controls['producto']?.touched"
                            class="form-text text-danger">Debe de ser de 3 letras</span> -->
                            <span *ngIf="nombreValido()" class="form-text text-danger" >Debe de ser de 3 letras</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            placeholder="Precio del producto"
                            [ngModel]="initForm.precio"
                            name="precio"
                            minlength="0"
                            required
                            min="0">
                            <span *ngIf="precioValido()" class="form-text text-danger" >Debe de ser mayor a 0</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            placeholder="Existencias del producto"
                            [ngModel]="initForm.existencias"
                            name="existencias"
                            required
                            customMin
                            [minimo]="0" >
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            [disabled]="miFormulario.invalid">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine: true = no se cambio valor</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched: si el usuario toco el formulario</span>
        <pre>{{miFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

        <span>CustomDirective</span>
        <pre>{{miFormulario.controls['existencias']?.errors | json}}</pre>
    </div>
</div>