<h2>Reactivos: Switchers</h2>

<hr>
<form autocomplete="off" 
    [formGroup]="miFormulario"
    (ngSubmit)="guardar()">
    <div class="row mb-3">
         <label class="col-sm-3 col-form-label">
        Género
    </label>
    <div class="col-sm-9">
         <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="M"               
               id="radioMasculino"
               formControlName="genero">
        <label class="form-check-label" for="radioMasculino">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="F"
               id="radioFemenino"
               formControlName="genero">
        <label class="form-check-label" for="radioFemenino">
          Femenino
        </label>
      </div>
    </div>
    </div>
   
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificación</label>
            <div class="col-sm-9">
                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" 
                           type="checkbox"
                           id="flexSwitchCheckChecked" 
                           formControlName="notificaciones">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
                  </div>
            </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" 
                           type="checkbox" 
                           id="flexCheckDefault"
                           formControlName="condiciones">
                    <label class="form-check-label" for="flexCheckDefault">
                      Terminos y condiciones
                    </label>
                  </div>
            </div>
     </div>

     <div class="row">
         <div class="col">
             <button
                class="btn btn-primary float-end"
                type="submit">Guardar</button>
         </div>
     </div>
</form>

<h4>valor de formulario</h4>
<pre>{{miFormulario.value | json}}</pre>
<br>

<h4>persona</h4>
<pre>{{persona | json}}</pre>
<br>

<h4>valid</h4>
<pre>{{miFormulario.valid}}</pre>

<h4>Terminos</h4>
<pre>{{miFormulario.controls['terminos']?.errors | json}}</pre>


<br>
<pre>condiciones:</pre>