<h2>Reactivos: Dinamicos</h2>
<hr>
<form action="" autocomplete="off" ç
      [formGroup]="miFormulario"
      (ngSubmit)="guardar()">

    <div class=" mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" 
                    class="form-control" 
                    placeholder="Nombre de la persona"
                    formControlName="nombre">
            <span *ngIf="campoEsValido('nombre')" class="form-text text-danger">Este campo es obligatorio</span>
        </div>
    </div>

    <div class=" mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" 
                        class="form-control" 
                        placeholder="Agregar favorito" 
                        [formControl]="nuevoFavorito"
                        (keyup.enter)="agregarFav()">
                <button class="btn btn-outline-primary" (click)="agregarFav()">Agregar</button>
            </div>
        </div>
    </div>

    <div class=" mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        
        <!--<div class="col-sm-9"> 
                <div class="input-group mb-1" 
                *ngFor="let itemJuego of persona.favoritos; let i = index">
                <input class="form-control">
                <button class="btn btn-outline-danger" 
                        (click)="1">Eliminar</button>
            </div>
        </div> -->
           <!--  <div class="col-sm-9" formArrayName="favoritos">
                <div class="input-group mb-1" 
                    *ngFor="let item of miFormulario.controls.['favoritos']; let i = index">
                    <input class="form-control"
                            [formControlName]="i">
                    <button class="btn btn-outline-danger" 
                            (click)="1">Eliminar</button>
                </div>
            </div> -->
            <div class="col-sm-9" formArrayName="favoritos">
                <div class="input-group mb-1" 
                    *ngFor="let item of favoritosArr.controls; let i = index">
                    <input class="form-control"
                            [formControlName]="i"> <!-- extrae el objero de la posicion 'i' -->
                    <button class="btn btn-outline-danger" 
                            (click)="eliminar(i)">Eliminar</button>
                </div>
            </div>
            

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" 
                    class="btn btn-primary float-end"                     
                    (click)="guardar()">
                Guardar con metodo
            </button>
            
            <button type="submit" 
            class="btn btn-primary float-end"                                 
            >Guardar con submit form
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>

<span>Value</span>
<pre>{{miFormulario.value |json}}</pre>

<span>valid: AGRegar </span>
<pre>{{nuevoFavorito.valid}}</pre>

<span>value: AGRegar </span>
<pre>{{nuevoFavorito.value | json}}</pre>

<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->

