<h2>Validaciones Reactivas </h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off" 
            [formGroup]="miFormulario"
            (ngSubmit)="submitFormulario()">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre usuario"
                            formControlName="nombre">
                            <span *ngIf="campoNoValido('nombre')" class="form-text text-danger">
                                Debe de ser en formato de nombre y apellido
                            </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                            class="form-control"
                            placeholder="Email usuario"
                            formControlName="email">
                            <span *ngIf="emailRequerido()" class="form-text text-danger">
                                El correo es obligatorio
                            </span>
                            <span *ngIf="emailFormato()" class="form-text text-danger">
                                El valor ingresado no tiene formato de correo
                            </span>
                            <span *ngIf="emailTomado()" class="form-text text-danger">
                                El email ya fue tomado
                            </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre código de usuario"
                            formControlName="userName">
                            <span 
                             *ngIf="campoNoValido('userName')"
                             class="form-text text-danger">
                                User name no puede ser strider
                            </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                            class="form-control"
                            placeholder="Password usuario"
                            formControlName="password">
                            <span *ngIf="campoNoValido('password')" class="form-text text-danger">
                                Debe de ser mayor a 6 caracteres
                            </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                            class="form-control"
                            placeholder="Confirmar Password"
                            formControlName="password2">
                            <span *ngIf="campoNoValido('password2')" class="form-text text-danger">
                                Las contraseñas deben de ser iguales
                            </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end"
                        [disabled]="miFormulario.pending">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h4>Form valid: {{ miFormulario.valid}}</h4>
<h4>Form status: {{ miFormulario.status}}</h4>
<h4>Form pending: {{ miFormulario.pending}}</h4>
<h4>Form errors: {{ miFormulario.errors | json}}</h4>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json}}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls['email'].errors | json}}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls['userName'].errors | json}}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls['password'].errors | json}}</pre>

<h5>Confirmar Password2</h5>
<pre>{{ miFormulario.controls['password2'].errors | json}}</pre>